name: Publish
permissions:
  contents: write
on: 
  workflow_dispatch:
    inputs:
      rc: 
        type: boolean
      patch_size:
        type: choice
        description: Size Of version change
        options:
          - '#major'
          - '#minor'
          - '#patch'
    

jobs:
  build: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 9.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build solution
        run: dotnet build --no-restore --configuration Release
      
      - name: Run tests
        run: dotnet test --no-build --configuration Release --verbosity normal

      - name: Publish NuGet package
        run: |
          dotnet pack DcsMissionParser.Net/DcsMissionParser.Net.csproj --no-build --configuration Release -o ./nupkg
          dotnet nuget push ./nupkg/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json



     
    
  
